/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 2%;
    height: 3.5vh;
    left: 4%;
    top: 5.5%;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #202B3F;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden;

  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Individual item */
.bm-item {
    display: inline-block;
  
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    display: none;
}


.circle {
  position: relative;
  width: 120px;
  height: 120px;
}
.quarter {
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.quarter.one {
  background: #51A1D1;
  clip: rect(0px, 60px, 60px, 0px);
  width: 120px;
}
.quarter.two {
  background: #344466;
  clip: rect(0px, 120px, 60px, 60px);
  width: 120px;
}

.quarter.three {
  background: #51A1D1;
  clip: rect(60px,120px, 120px, 60px);
  width: 120px;
}

.quarter.four {
  background: #51A1D1;
  clip: rect(60px, 60px, 120px, 0px);
  width: 120px;
}

.cut{
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background-color: #202B3F;
  border-radius: 50%;
  pointer-events: none;
}

.profile {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #344466;
  border-radius: 50%;
  pointer-events: none;
}